.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  width: 600px;
}
.img-content{
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.img-half-opacity {
  opacity: 0.5;
}
mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.actions-field{
  display: flex;
  justify-content: space-between;
}

.red {
  color: #f44336;
}
