/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ebebeb;
}

.base-canvas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //height: 100%;
}

.mat-card-image{
  margin-bottom: 0 !important;
}
.mat-card-header-text {
  margin-left: 0 !important;
}
.mat-card-header .mat-card-title {
  margin-bottom: 15px !important;
}
.mat-card-actions {
  margin-bottom: 0 !important;
}

.mb-5{
  margin-bottom: 5px !important;
}
