.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  width: 600px;
}

.actions-field{
  display: flex;
  justify-content: space-between;
}
